{% extends 'centromed/base.html' %}

{% block titulo %}Centro Medico | Editar Pefil{% endblock %}


{% block mutable %}

<div class="d-flex justify-content-center">

    
    <div class="d-flex flex-column">

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <table>
                {{form.as_table}}
            </table>
            <a class="btn btn-primary" href="{% url 'CambiarContraseña' %}">Cambiar Contraseña</a>
            <input type="submit" value="Cambiar Datos">
            

        </form>

    </div>
</div>

{% endblock %}